*{
    margin: 0;
    list-style: none;
}
#root{
    margin-left: 270px;
    padding: 0 20px;
}
.loginroot{
    margin-right: 270px;
}
.nav1{
    position: fixed;
    top:0;
    left: 0;
    width: 230px;
    padding: 30px 20px;
    height: 100%;
    background-color: #121212;
    color:white;
}

.nav1 a{
    text-decoration: none;
    color:white;
}

.menu{
  margin:30px 0;  
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.nav2{
    display: flex;
    justify-content: space-between;
}

.nav2 div{
    margin: 15px;
}

 table{
    margin-top: 50px;
    text-align: center;
    border-collapse:collapse;
 }
th{
    background-color: #eee;
    padding: 10px 5px;
}
td{
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
}